h2 {
    color: indianred;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#profile-wrapper {
    text-align: center;
}